{% extends 'core/base.html' %}

{% block content %}



<div id="list-div" class="limiter"> <!-- width 100%   margin 0 auto   -->
    <div class="box-position">
        <div class="box-parameters">
            <br>
            <h2 class="text-centered">Selección de Paciente</h2>
            <br>
            <input type="text" id="myInput" onkeyup="searchInList()" placeholder="Buscar un nombre..." title="Type in a name">


            <ul id="myUL">
                {% for Usuario in Usuarios %}


                <li>
                    <a class="text-centered" href= "{% url 'reporte' %}">{{ Usuario.Username }}</a>
                </li>

        
        
              {% empty %}
                <p>No Data available</p>
              {% endfor %}
            </ul>
<!--
            <ul id="myUL">
-->
                <!--   Lista de pacientes generada dinamicamente con js   -->
            
<!--
            </ul>
--> 
            <br>

        </div>
    </div>
</div>

{% endblock %}