{% extends 'base.html' %}

{% block content %}

<h1 class="row mt-2 justify-content-center container">Listado de Pacientes</h1>
{% for paciente in pacientes %}
<div class="row mt-3 justify-content-center container">
			<div class="list-group" style="width: 20rem;">
				<a href="/paciente/{{ paciente.rut }}" class="list-group-item">{{ paciente.primer_nombre }} {{ paciente.apellido_paterno }}</a>
			</div>
{% endfor %}
</div>
<div class="container text-center">
	<a class="row mt-3 btn btn-primary btn-lg" href="/paciente/create/" role="button">Agregar Paciente</a>
</div>
{% endblock %}