{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
	<h1 class="display-4">Ruta Numero {{ ruta.numero }}</h1>
	<hr class="my-4">
	{% if ruta.numero is 0 %}
		<p>Esta ruta se utiliza para almacenar a los pacientes que no seran visitados, es decir, es una lista de pacientes que no debe ser eliminada.</p>
		<a class="btn btn-primary btn-lg" href="/rutas/" role="button">Atrás</a>
		<a class="btn btn-primary btn-lg" href="/pacientesEnRuta/{{ ruta.pk }}" role="button">Listado de Pacientes</a>
	{% else %}
		<p>Información de ruta</p>
		<a class="btn btn-primary btn-lg" href="/rutas/" role="button">Atrás</a>
		<a class="btn btn-primary btn-lg" href="#" role="button">Grupo de Trabajo</a>
		<a class="btn btn-primary btn-lg" href="/pacientesEnRuta/{{ ruta.pk }}" role="button">Listado de Pacientes</a>
	{% endif %}

</div>
{% endblock %}
