{% extends 'core/base.html' %}

{% block content %}

    {% load static %}

    <meta charset="utf-8" />
    <title>Leaflet OSRM Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'ruta/css/leaflet-routing-machine.css' %}" />
    <!--<link rel="stylesheet" href="{% static 'ruta/js/index.js'%}" />-->
    <style>

        /* Lista de rutas con sus respectivos pacientes a la izquierda */
        #routes {
            position: absolute;
            width: 30%;
            height: 91%;
            margin-top: -1%;
        }
        .indent {
            margin-left: 5%;
        }
        .smallfont {
            font-size: small;
        }
        .parent:hover {
            background-color: #F5F5F5;
        }
        #lista-pacientes {
            display: show;
        }

        /* Mapa a la derecha */
        .map {
            position: absolute;
            width: 70%;
            height: 91%;
            margin-left: 30%;
            margin-top: -1%;
        }

    </style>

    <body>
        <div id="map" class="map"></div>
        
        <div id="routes">

            {% for Ruta in Rutas %}

            <ul class="list-group">
                <li class="list-group-item node-treeview1 parent" onclick="HideDiv({{Ruta.id}})" data-nodeid="0" style="color:undefined;background-color:undefined;">
                    <span class="icon expand-icon glyphicon glyphicon-minus"></span>
                    <span class="icon node-icon"></span>Equipo {{ Ruta.id }}</li>
                    <div  id="lista-pacientes-{{Ruta.id}}"  style="display: none;">
                    {% for Equipo in Equipos %}
                    {% if Equipo.idRuta_id == Ruta.id %}
                        
                        {% for Usuario in Usuarios %}
                        {% if Usuario.id == Equipo.idUsuario_id %}
                            
                            {% for Dato in Datos %}
                            {% if Dato.id == Usuario.id %}

                                <li class="list-group-item node-treeview1 smallfont" data-nodeid="1" style="color:undefined;background-color:undefined;">
                                    <span class="indent"></span>
                                    <span class="icon expand-icon glyphicon glyphicon-plus"></span>
                                    <span class="icon node-icon"></span>{{ Dato.Primer_Nombre }} {{ Dato.Segundo_Nombre }} {{ Dato.Apellido_Paterno }} {{ Dato.Apellido_Materno }}
                                </li>
                                    
                            {% endif %}
                            {% endfor %}
                                    
                        {% endif %}
                        {% endfor %}
                                    
                    {% endif %}
                    {% empty %}
                                    
                        <p>No User Data Available</p>
                        
                    {% endfor %}
                                    
                    </div>

            {% empty %}
                <p>No Data Available</p>
            {% endfor %}

            
        </div>




        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>   <!-- Map logic? -->
        <script src="{% static 'ruta/js/leaflet-routing-machine.js' %}"></script>
        <script src="{% static 'ruta/js/Control.Geocoder.js' %}"></script>
        <script src="{% static 'ruta/js/config.js'%}"></script>
        <script src="{% static 'ruta/js/index.js'%}"></script>  <!-- Routes Imput -->
        <script src="{% static 'ruta/js/lrm-valhalla.js'%}"></script>
        <!-- <script src="{% static 'ruta/js/mapa.js'%}"></script> -->

<!--

        <script>
 
            fetch('/static/ruta/js/routes.json')
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    appendData(data);
                })
                .catch(function (err) {
                    console.log(err);
                });

            function appendData(data) {
                var mainContainer = document.getElementById("routes");
                console.log(mainContainer);
                for (var i = 0; i < 3; i++) {
                    var div = document.createElement("div");
                    div.innerHTML = 'Name: ' + data.Equipo1[i].firstName + ' ' + data.Equipo1[i].lastName;
                    mainContainer.appendChild(div);
                }
                for (var i = 0; i < 3; i++) {
                    var div = document.createElement("div");
                    div.innerHTML = 'Name: ' + data.Equipo2[i].firstName + ' ' + data.Equipo2[i].lastName;
                    mainContainer.appendChild(div);
                }
                for (var i = 0; i < 3; i++) {
                    var div = document.createElement("div");
                    div.innerHTML = 'Name: ' + data.Equipo3[i].firstName + ' ' + data.Equipo3[i].lastName;
                    mainContainer.appendChild(div);
                }
            }
        
        </script>
-->

        <script>
            function HideDiv(IdList){
                var IdElement = "lista-pacientes-" + IdList
                var element = document.getElementById(IdElement)
                if (element.style.display == "block"){
                    document.getElementById(IdElement).style.display = "none"
                }else{
                   document.getElementById(IdElement).style.display = "block"
                }
            }
            
        </script>



    </body>

{% endblock %}


<!--
Coordenadas Pacientes
-33.574758, -70.675552
-33.576958, -70.690707
-33.575946, -70.668014
-33.582300, -70.689205
-33.561528, -70.676688
-33.565860, -70.671914
-33.560894, -70.657658
-33.571703, -70.665466
-33.591874, -70.671005
-33.597625, -70.690105

Coordenada Hospital
-33.584491, -70.676733

Coordenadas Rancagua
-34.156117, -70.734842
-34.226029, -70.882644

-->